@import '~antd/dist/antd.css';

header {
  margin-bottom: 1rem;
}

.ant-select-dropdown-menu-item {
  text-align: center;
}

.ant-select-dropdown-menu-item > div {
  cursor: pointer;
}

.user-info {
  margin: 0;
  line-height: 1.5em;
  color: #c4c4c4;
}

.user-info > div:nth-child(odd) {
  float: right;
}

.user-info > div > span {
  padding-left: 0.5rem;
  color: black;
}

.user-info > label {
  font-weight: 100;
  text-transform: uppercase;
  font-size: 0.8em;
}
